{{#d-modal-body title="admin.follow.delete_notifications.modal_title" class="follow-admin-modal-title"}}
  <h3>{{i18n 'admin.follow.delete_notifications.modal_question'}}</h3>
  {{d-button action=(action "deleteNotifications") id="follow-admin-delete-notifications-commit-button" class="btn-large btn-danger" icon="trash-alt" label="admin.follow.delete_notifications.modal_commit" disabled=false}}
  {{d-modal-cancel class="btn-large btn-default" close=(route-action "closeModal")}}
{{/d-modal-body}}
