<div class="follow-users">
  {{#if hasUsers}}
    {{#each users as |user|}}
      {{user-info user=user}}
    {{/each}}
  {{else}}
    <div class="alert alert-info">{{i18n noneMessage username=viewing}}</div>
  {{/if}}
</div>
