  <table class="follow-admin">
    <tr class="follow-admin">
      <td>{{d-button action=(route-action 'showSettings')class="btn btn-default" label='admin.follow.settings.label'}}</td>
      <td>{{d-button action='deleteNotifications' class="btn btn-danger" label='admin.follow.delete_notifications.label'}}</td>
    </tr>
    <tr class="follow-admin">
      <td></td>
      <td><sub>{{i18n 'admin.follow.delete_notifications.advice'}}</sub></td>
    </tr>
  </table>
