<div class="follow-users">
  {{#if hasUsers}}
    {{#each users as |user|}}
      <UserInfo @user={{user}} />
    {{/each}}
  {{else}}
    <div class="alert alert-info">{{i18n
        noneMessage
        username=user.username
      }}</div>
  {{/if}}
</div>