{{#if user.total_following}}
  <span>{{i18n "user.following.label"}}</span>
  <span class="value">{{user.total_following}}</span>
{{/if}}
{{#if user.total_followers}}
  <span>{{i18n "user.followers.label"}}</span>
  <span class="value">{{user.total_followers}}</span>
{{/if}}