.follow-statistic {
  span:first-of-type {
    margin-right: 3px;
  }
}

.follow-statistics-user-card {
  // ignores the wrapping div so the contents appear as siblings
  // along other metadata in the usercard
  display: contents;
}

.user-follows-tab .feed-link {
  margin-bottom: 1em;
  display: block;
}

.user-main
  li.user-profile-controls-outlet.follow-button-container:has(div:empty) {
  margin: 0;
}
