.follow-statistic {
  span:first-of-type {
    margin-right: 3px;
  }
}

.follow-statistics-user-card {
  // ignores the wrapping div so the contents appear as siblings
  // along other metadata in the usercard
  display: contents;
}

.user-follows-tab .feed-link {
  margin-bottom: 1em;
  display: block;
}

.follow-button-container div {
  width: 100%;
}
