.about.collapsed-info .follow-cycle {
  margin-top: 1px;

  button {
    padding: 5px 10px;
    min-height: initial;
    margin-bottom: 0;
  }
}

.viewing-self .follow-cycle {
  display: none !important;
}

.follow-users {
  padding: 10px 20px;
}

.follow-none {
  background-color: $primary-low;
  padding: 20px 30px;
}

.follow-statistic {
  span:first-of-type {
    margin-right: 3px;
  }
}

.follow-statistics-user-card {
  .value{
    padding-left: 5px
  }
}

.admin-contents table.follow-admin {

  border-collapse: collapse;

  tr:hover  {
    background-color: unset;
  }

  td {
   text-align: center;
  }

  td:first-of-type {
    text-align: left;
   }
}